@import "reset";
@import "base";
@import "mixins";
@import "constants";
@import "typography";

/* 
* Add your own CSS code below... 
*/
body {
    background: 
     linear-gradient(to right, 
        #ceecc0  , 
        #ceecd8  , 
        #c0dbec  , 
        #cbc0ec  , 
        #ecc0e7 , 
        #ecc0c1,
        #ece4c0)  100% no-repeat, /* 25% = height */
      ;

    // background: linear-gradient(217deg, #ceecc0 80%, #ceecd8 70.71%),
    //         linear-gradient(127deg, #c0dbec 80%, #cbc0ec 70.71%),
    //         linear-gradient(336deg, #ecc0e7 80%, #ecc0c1 20.71%);

    //         background: linear-gradient(
    //   217deg,
    //   rgb(206 236 192 / 80%),
    //   rgb(206 236 216 / 0%) 70.71%
    // ), linear-gradient(127deg, rgb(192	219	236 / 80%), rgb(203 192 236 / 80%) 10.71%),
    // linear-gradient(336deg, rgb(236 192 231 / 20%), rgb(236 192 193 / 50%) 30.71% , rgb(236 228 192 / 80%) 20.71%);

//     background: linear-gradient(
//       280deg,
//       rgb(206 236 192 / 80%),
//       rgb(206 236 216 / 20%) 40.71%
//     ), linear-gradient(127deg, rgb(192	219	236 / 80%), rgb(203 192 236 / 50%) 20.71%),
//     linear-gradient(336deg, rgb(236 192 231 / 80%), rgb(236 192 193 / 80%) 40.71%), 
//   linear-gradient(
//       117deg,
//       rgb(236 228 192 / 80%),
//       rgb(236 228 192 / 40%) 50.71%
//     );
}

.main-title {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin: 3rem 0;

    span {
        font-size: 8rem;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        display: block;
    }

}

.container {
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: #f02eaa66 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    border-radius: 0.8rem;


}

.todo-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 4rem;


    #task-input {
        padding: 1.5rem;
        width: 70%;
        border: transparent;
        border-bottom: 0.3rem solid;
        font-family: Poppins, sans-serif;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 0.6rem;
        background: rgba(248, 243, 235, 0.702);
        opacity: 1.0;
  
    }
    #task-input:hover {
    opacity: 0.8;
    }

    ::placeholder {
        font-size: 2rem;
        font-weight: 700;
    }
}

// button
.add-task {
    align-items: center;
    background-color: #d97fb8;
    border: 0.2rem solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    height: 4.8rem;
    justify-content: center;
    line-height: 2.4rem;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-task:after {
    background-color: #111;
    border-radius: 0.8rem;
    content: "";
    display: block;
    height: 4.8rem;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(0.5rem, 0.5rem);
    transition: transform .2s ease-out;
    z-index: -1;
}

.add-task:hover:after {
    transform: translate(0, 0);
}

.add-task:active {
    background-color: #ffdeda;
    outline: 0;
}

.add-task:hover {
    outline: 0;
}





.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  
    .todo-task {
      display: flex;
      align-items: center;
      position: relative;
      flex-grow: 2;
      padding: 1rem;
      margin-top: 2rem;
    //   border: 0.1rem solid;
      background: rgba(248, 243, 235, 0.702);
      border-radius: 0.8rem;
    //   opacity: 1;
    //   box-shadow: 0.4rem 0.4rem rgba(240, 46, 169, 0.397),rgba(240, 46, 169, 0.424) 0.8rem 0.8rem, rgba(240, 46, 169, 0.282) 1.1rem 1.1rem;
    //   box-shadow: 0.4rem 0.4rem rgba(240, 46, 169, 0.397);
    //   box-shadow: 0.4rem 0.4rem rgba(240, 46, 237, 0.397);
      box-shadow: 0.4rem 0.4rem rgba(221, 40, 237, 0.397);
    //   box-shadow: 0.4rem 0.4rem #a3c0cf;
    //   box-shadow: 0.4rem 0.4rem #8ba093a5;
  
      input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        width: 2.5rem;
        height: 2rem;
        top: 1.2rem;
        left: 0.7rem;
      }
  
      .task-label {
        flex-grow: 2;
        display: flex;
        background-image: url(/icons/squarepurple.png);
        background-size: 2rem;
        background-position: 0 40%;
        background-repeat: no-repeat;
        cursor: pointer;
        padding: 0 3.5rem;
        line-height: 2.5rem;
        align-self: center;
        // transition: opacity .2s linear;
  
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 4rem;
          display: block;
          width: 0%;
          height: 0.1rem;
          background: #5a374d; 
          transition: width 0.3s ease-out; 
          
        }
  
        &:active::before {
            // padding-left: 1rem;
          width: 20%; /* Adjust width to account for padding */
          background-image: url(/icons/approved.png);
        }
      }
    }
  }


    .todo-footer {
        display: flex;
        margin-top: 3rem;
        padding-top: 2rem;
        justify-content: space-between;
        align-content: center;
        border-top: 0.2rem solid;
        width: 100%;

    .tasks-left {

        align-self: center;
        font-family: Poppins, sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .clear-completed {
        align-self: center;
        font-family: Poppins, sans-serif;
        font-weight: 700;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .filter-btns {

        .filter-active {
            padding: 0 0.5rem;

        }

        button {
            font-size: 1.8rem;
            display: inline-block;
            position: relative;

        }

        button:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 0.2rem;
            bottom: -0.2rem;
            left: 0;
            background-color:
                rgb(153, 218, 218);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        button:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        button:focus {
            border-bottom: 0.2rem solid black;
        }

        button {
            font-family: Poppins, sans-serif;
            font-weight: 700;
            margin: 0.3rem;
            padding: 0.3rem 0.7rem;
            border: 0.2rem solid transparent;

        }

    }


}
